/* filepath: /c:/Users/grego/OneDrive/Documents/My Web Sites/my-portfolio-site/src/app/resume/resume.component.scss */
main {
  padding: 16px;
}

app-header {
  margin-bottom: 20px;
}

app-resume-summary,
app-resume-experience,
app-resume-education,
app-resume-security-clearance {
  margin-bottom: 20px;
}
