/* filepath: /c:/Users/grego/OneDrive/Documents/My Web Sites/my-portfolio-site/src/app/components/resume-education/resume-education.component.css */
.security-clearance-section {
  margin: 20px 0;
}

.security-clearance-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.security-clearance-section h3 {
  font-size: 20px;
  margin: 5px 0;
}

.security-clearance-section p {
  margin: 2px 0;
}
